.gx-card {
  /* margin-left: 10px !important; */
  margin-top: 3px !important;
  border-radius: 10px !important;
  color: white !important;
  background: #5a5f6f !important;
  min-width: 285px;
  margin-right: 10px !important;
  border: 2px solid #edc017 !important;
}
.Menu {
  /* width: 100%; */
  /* height: 100%; */
  border: none !important;
}
